

/* Priceplan */
.education-container{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
  
  }
  .education-container2{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
  
  .education-header-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    text-align: center;
  
  }
  .education-title{
    font-size: 30px;
    font-weight: bold;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .education-des{
    font-size: 15px;
    padding-top: 10px;
  }
  .education-box-container{
    width: 100%;
    /* display: flex; */
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;
  }
  .education-box{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    /* box-shadow: 1px 1px 8px 6px #E4E6EB; */
    padding: 15px 20px;
    border-bottom: 1px solid rgba(214, 212, 212, 0.676);
    display: flex;
    justify-content: space-evenly;
  }
  .left-box{
    width: 40%;
  }
  .uni-name{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
  }
  .uni-stu{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .uni-date{
    background-color: #FFB400;
    padding: 1px 5px 1px 5px ;
    color: #FFFFFF;
    font-size: 13px;
    margin-left: 10px;
    
  }
  .uni-des{
    font-size: 14px;
  }
  .right-box{
    width: 50%;
  }
  @media screen and (min-width: 100px) and (max-width: 768px){
    /* .education-box-container{
        flex-direction: column;
      } */
      .education-box{
        flex-direction: column;
    
      }
      .education-header-box{
      width: 90%;
      text-align: center;
      }
      .left-box{
        width: 100%;
      }
     .right-box{
       width: 100%;
     }
     .uni-name{
        font-size: 15px;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      .uni-stu{
        font-size: 13px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      .uni-date{
        font-size: 10px;
        
      }
      .institue{
      margin-bottom: 0px;
      }
      .uni-des{
        font-size: 8px;
      }
      .education-title{
        font-size: 20px;
      }
  }
 
