
.main { 
    width: 100%; 
    padding-top: 150px;
    color: black;
    height: auto; /* Use auto height instead of fixed height */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content at the top */
    align-items: center;
    min-height: calc(100vh - 150px - 100px); /* Ensures footer is pushed down */
}

.ser-container {
    width: 80%; /* Increased to make the container cover more space */
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
}

.top-div-con {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
}

.boxes-con {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

.box {
    width: 250px;
    height: 200px;
    border: 4px solid rgb(185, 185, 185);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: black;
}

.title-ser {
    font-size: 50px;
}

.des-ser {
    margin-top: 20px;
    color: white;
}

.service-icon {
    font-size: 100px;
}

@media screen and (max-width: 750px) {
    .top-div-con {
        width: 80%; /* Adjust width for smaller screens */
    }   
}
